<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>

    <link href="bower_components/angular-material/angular-material.css" rel="stylesheet">
</head>
<body ng-app="app">
<script>
    angular.module('app', ['ngAria', 'ngAnimate', 'ngMaterial'])
            .controller('contentCtrl', function () {
                var self = this;
                self.hi = "Hello";
                self.isOpen = true;

                self.switch = function () {
                    if (self.isOpen)
                        self.isOpen = false;
                    else
                        self.isOpen = true;
                }
            })
</script>

<div ng-controller="contentCtrl as ctrl">
    <md-toolbar>
        <md-menu-bar>
            <md-menu>
                <md-button ng-click="$mdOpenMenu()">
                File
            </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="ctrl.sampleAction('share', $event)">
                            Share...
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="ctrl.sampleAction('share', $event)">
                            Share.................................
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </md-toolbar>
    <md-content layout-padding>
        <p>
            Est in vivendum comprehensam conclusionemque, alia cetero iriure no usu, te cibo deterruisset pro. Ludus
            epicurei quo id, ex cum iudicabit intellegebat. Ex modo deseruisse quo, mel noster menandri sententiae ea,
            duo et tritani malorum recteque. Nullam suscipit partiendo nec id, indoctum vulputate per ex. Et has enim
            habemus tibique. Cu latine electram cum, ridens propriae intellegat eu mea.
        </p>

        <p>
            Duo at aliquid mnesarchum, nec ne impetus hendrerit. Ius id aeterno debitis atomorum, et sed feugait
            voluptua, brute tibique no vix. Eos modo esse ex, ei omittam imperdiet pro. Vel assum albucius incorrupte
            no. Vim viris prompta repudiare ne, vel ut viderer scripserit, dicant appetere argumentum mel ea. Eripuit
            feugait tincidunt pri ne, cu facilisi molestiae usu.
        </p>
        <input type="button" ng-click="ctrl.switch()" value="Switch"/>
    </md-content>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="ctrl.isOpen"
            style="height: 100%">
Hi
    </md-sidenav>
</div>
</body>
</html>